{% extends '::base.html.twig' %}

{% block title %}ログイン{% endblock %}

{% block stylesheets %}
{% stylesheets '@SifueMenuBundle/Resources/public/css/*' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path('sifue_menu_homepage') }}">プロジェクト名</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                <a href="{{ path('user_show', { 'id': app.user.id }) }}" class="navbar-link">{{ app.user.username }}</a> としてログイン中
            </p>
            <ul class="nav">
              <li class="active"><a href="{{ path('sifue_menu_homepage') }}">ホーム</a></li>
              <li><a href="#about">プロジェクトに関して</a></li>
              <li><a href="#contact">連絡先</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">ユーザー管理</li>
              <li><a href="{{ path('user_new') }}">ユーザー作成</a></li>
              <li><a href="{{ path('user') }}">ユーザー一覧(編集)</a></li>
              <li class="nav-header">{{ app.user.username }}</li>
              <li><a href="{{ path('user_show', { 'id': app.user.id }) }}">ログイン情報</a></li>
              <li><a href="#">パスワード変更</a></li>
              <li><a href="{{ path('logout') }}">ログアウト</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

        {% block menu_content %}
          <div class="hero-unit">
            <h1>ユーザー管理へようこそ</h1>
            <p>ユーザー管理のユーザー管理画面からユーザーを追加することができます。</p>
            <p><a class="btn btn-primary btn-large" href="{{ path('user_new') }}">ユーザーを追加へ &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>ユーザーの一覧</h2>
              <p>ユーザーの編集及び削除はユーザーの一覧から行うことができます。またユーザーのパスワードの設定もここからすることができます。</p>
              <p><a class="btn" href="{{ path('user') }}">ユーザーの一覧へ &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>パスワードの変更</h2>
              <p>ログインをしているユーザーのパスワードを変更することができます。なおパスワードの変更には古いパスワードが必要となります。忘れてしまった場合は、ユーザーの編集権限のあるユーザーにパスワードを変更してもらってください。</p>
              <p><a class="btn" href="#">パスワード変更へ &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>ログアウト</h2>
              <p>ログインを維持するをチェックしてログインをすると24時間ログイン状態を維持します。このブラウザで他のユーザーに編集たくないときは、ログアウトしてください。</p>
              <p><a class="btn" href="{{ path('logout') }}">ログアウト &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        {% endblock %}

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
{% endblock %}
