{% extends 'SifueMenuBundle:Menu:menu.html.twig' %}

{% block title %}ユーザーパスワード変更{% endblock %}

{% block menu_content %}
<h1>{{entity.username}}のパスワード変更</h1>

<form action="{{ path('user_update_password', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
    {{ form_row(edit_form.password, {'label' : 'パスワード', 'second_name' : 'パスワード確認',}) }}
    {{ form_rest(edit_form) }}
    <p>
        <button type="submit" class="btn">変更</button>
    </p>
</form>

<ul class="pager">
    <li>
        <a href="{{ path('user') }}">
            一覧へ戻る
        </a>
    </li>
</ul>

{% endblock %}
