{% extends 'SifueMenuBundle:Menu:menu.html.twig' %}

{% block title %}ユーザー編集{% endblock %}

{% block menu_content %}
<h1>ユーザー編集</h1>

<form action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn">編集</button>
    </p>
</form>

<ul class="pager">
    <li>
        <a href="{{ path('user') }}">
            一覧へ戻る
        </a>
    </li>
    <li>
        <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn">削除</button>
        </form>
    </li>
</ul>

{% endblock %}
