{% extends 'SifueMenuBundle:Menu:menu.html.twig' %}

{% block title %}ユーザー一覧{% endblock %}

{% block menu_content %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>氏名</th>
            <th>Eメール</th>
            <th>有効</th>
            <th>所属</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody >
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.username }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.isactive }}</td>
            <td>{{ entity.department }}</td>
            <td>
                <ul class="breadcrumb">
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">詳細</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">編集</a>
                    </li>
                    <li>
                        <a href="{{ path('user_change_password', { 'id': entity.id }) }}">パスワード変更</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="pager">
    <li>
        <a href="{{ path('user_new') }}">
            新規でユーザーを作成
        </a>
    </li>
</ul>


{% endblock %}
