{% extends 'SifueMenuBundle:Menu:menu.html.twig' %}

{% block title %}ユーザー情報{% endblock %}

{% block menu_content %}

<h1>ユーザー情報</h1>

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>氏名</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Eメール</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>有効</th>
            <td>{{ entity.isactive }}</td>
        </tr>
        <tr>
            <th>所属</th>
            <td>{{ entity.department }}</td>
        </tr>
    </tbody>
</table>

<ul class="pager">
    <li>
        <a href="{{ path('user') }}">
            一覧へ戻る
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            編集
        </a>
    </li>
    <li>
        <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn">削除</button>
        </form>
    </li>
</ul>

{% endblock %}
