{% extends '::base.html.twig' %}
{% block stylesheets %}
{% stylesheets '@SifueLoginBundle/Resources/public/css/*' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <div class="container">

      <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">ログインして下さい</h2>
        <input type="text" class="input-block-level" placeholder="Email address" id="username" name="_username" value="{{ last_username }}">
        <input type="password" class="input-block-level" placeholder="Password" id="password" name="_password" >
        <label class="checkbox">
          <input type="checkbox" value="remember-me" id="remember_me" name="_remember_me" checked > ログインを維持する
        </label>
        <button class="btn btn-large btn-primary" type="submit">ログイン</button>
      </form>

    </div>

<!--     <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            認証成功した際のリダイレクト URL を制御したい場合(詳細は以下に説明する)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <input type="submit" name="login" />
    </form> -->
{% endblock %}